:root {
    --black: #000000;
    --white: #ffffff;
    --btnBg: #fe9990;
}

.headerCon {
    box-shadow: 0px 2px 4px rgba(254, 153, 144, 0.1) !important;
    width: 100%;
    position: relative;
    z-index: 20;
}
.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
/* .logo {
} */
.headerArea .links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.headerArea .links li a {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
}
.headerArea .button {
    background-color: var(--btnBg);
    color: var(--black) !important;
}
.mobileMenu,
.toggle {
    display: none;
}
@media screen and (max-width: 992px) {
    .headerArea .links,
    .headerArea .button {
        display: none;
    }
    .mobileMenu,
    .toggle {
        display: flex;
    }
    .mobileMenu .links {
        position: absolute;
        padding: 1rem;
        width: 100%;
        left: 0;
        flex-direction: column;
        background-color: #191717cf;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}
