:root {
    --black: #000000;
    --white: #ffffff;
    --btnBg: #fe9990;
}

.headerCon {
    box-shadow: 0px 2px 4px rgba(254, 153, 144, 0.1);
    width: 100%;
}
.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
/* .logo {
} */
.headerArea .links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.headerArea .links li a {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
}
.headerArea .button {
    background-color: var(--btnBg);
}
