:root {
  --black: #000000;
  --white: #ffffff;
  --btnBg: #fe9990;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: var(--black);
  color: var(--white);
}
